.score-pit {
  background-color: lightgray;
  text-align: center;
  height: 200px;
  padding: 10px;
}

.player-pit {
  background-color: lightgray;
  text-align: center;
  cursor: pointer;
}

.player-pits {
  align-items: stretch;
  display: flex;
}

.active-player {
  background-color: darkgray;
}

.reversed-pits {
  display: flex;
  flex-direction: row-reverse;
}

.game-status {
  color: darkred;
  justify-content: center;
}