.score-pit {
  background-color: lightgray;
  text-align: center;
  height: 200px;
  padding: 10px;
}

.player-pit {
  background-color: lightgray;
  text-align: center;
  cursor: pointer;
}

.player-pits {
  align-items: stretch;
  display: flex;
}

.player-two-pits {
  display: flex;
  flex-direction: row-reverse;
}